.el-menu-item,
.el-submenu__title {
  height: 53px;
  line-height: 53px;
  position: relative;
  white-space: nowrap;
  list-style: none;
}
.main-unitasal{
    padding: 15px;
    display: block;
    .search{
        margin-left: 20px;
        margin-bottom: 30px;
    }
    .title-unit {
        margin-left: 20px;
        color: #2978C9;
    }
    .btn-tambah-unit {
        padding: 9px 15px;
        margin-block-start: 1.33em;
        margin-block-end: 1.33em;
        margin-right: 25px;
        float: right;
    }
}
.el-table th>.cell {
    text-align: center;
}
.main{
    padding: 30px;
    display: block;
}

// modal
.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    .modal {
        position: relative;
        margin: auto 50px;
        background: #fff;
        border-radius: 2px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
        box-sizing: border-box;
        width: 55%;
        .modal-header {
            border-bottom: 1px solid #eeeeee;
            color: #4AAE9B;
            display: block;
            justify-content: space-between;
            padding: 20px;
            padding-bottom: 10px;
            .el-dialog__headerbtn {
                position: absolute;
                top: 20px;
                right: 20px;
                padding: 0;
                background: transparent;
                border: none;
                outline: none;
                cursor: pointer;
                font-size: 16px;
            }
            .el-dialog__title {
                line-height: 24px;
                font-size: 18px;
                color: #303133;
            }
        }
        .modal-body {
            position: relative;
            /* padding: 20px 10px;
                display: block; */
            text-align: initial;
            padding: 25px 25px 30px;
            color: #606266;
            line-height: 24px;
            font-size: 14px;
            overflow: auto;
            max-height: 60vh;
            .el-autocomplete {
                width: 100% !important;
                .el-input {
                    width: 100% !important;
                    .el-input__inner {
                        width: 100%;
                    }
                }
            }
            .demo-input-label.form-register {
                margin-top: 7.5px;
                display: block;
            }
            .packet-option {
                // background: #F2F6FC;
                background: #DCDFE6;
                padding: 10px 20px;
                margin-top: 10px;
            }
            .el-checkbox__label {
                white-space: initial;
                vertical-align: middle;
            }
            .el-input.is-disabled {
                .el-input__inner {
                    color: #8d919b;
                }
            }
        }
        .modal-footer {
            /* border-top: 1px solid #eeeeee;
                display: block;
                justify-content: flex-end; */
            padding: 15px;
            text-align: right;
            box-sizing: border-box;
            border-top: 1px solid #eeeeee;
            .icon.icon-save {
                height: 13px;
                width: auto;
            }
        }
        .el-button--primary {
            color: #fff;
            background-color: #6d8edc;
            border-color: #5779cc;
        }
        .el-button--primary:hover,
        .el-button--primary:active,
        .el-button--primary:visited {
            color: #fff;
            background-color: #4b6dbd;
            border-color: #4a6dbe;
        }
    }
    .modal-edit {
        position: relative;
        margin: auto 50px;
        background: #fff;
        border-radius: 2px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
        box-sizing: border-box;
        width: 55%;
        .modal-header {
            border-bottom: 1px solid #eeeeee;
            color: #4AAE9B;
            display: block;
            justify-content: space-between;
            padding: 20px;
            padding-bottom: 10px;
            .el-dialog__headerbtn {
                position: absolute;
                top: 20px;
                right: 20px;
                padding: 0;
                background: transparent;
                border: none;
                outline: none;
                cursor: pointer;
                font-size: 16px;
            }
            .el-dialog__title {
                line-height: 24px;
                font-size: 18px;
                color: #303133;
            }
        }
        .modal-body {
            position: relative;
            /* padding: 20px 10px;
                display: block; */
            text-align: initial;
            padding: 25px 25px 30px;
            color: #606266;
            line-height: 24px;
            font-size: 14px;
            overflow: auto;
            max-height: 60vh;
            .el-autocomplete {
                width: 100% !important;
                .el-input {
                    width: 100% !important;
                    .el-input__inner {
                        width: 100%;
                    }
                }
            }
            .demo-input-label.form-register {
                margin-top: 7.5px;
                display: block;
            }
            .packet-option {
                // background: #F2F6FC;
                background: #DCDFE6;
                padding: 10px 20px;
                margin-top: 10px;
            }
            .el-checkbox__label {
                white-space: initial;
                vertical-align: middle;
            }
            .el-input.is-disabled {
                .el-input__inner {
                    color: #8d919b;
                }
            }
        }
        .modal-footer {
            /* border-top: 1px solid #eeeeee;
                display: block;
                justify-content: flex-end; */
            padding: 15px;
            text-align: right;
            box-sizing: border-box;
            border-top: 1px solid #eeeeee;
            .icon.icon-save {
                height: 13px;
                width: auto;
            }
        }
        .el-button--primary {
            color: #fff;
            background-color: #6d8edc;
            border-color: #5779cc;
        }
        .el-button--primary:hover,
        .el-button--primary:active,
        .el-button--primary:visited {
            color: #fff;
            background-color: #4b6dbd;
            border-color: #4a6dbe;
        }
    }
}